*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.title{
    text-align: center;
    padding: 20px;
    background-color: rgb(30,30,30);
    color: rgb(240,240,240);
}

.content{
    text-align: center;
    padding: 30px;
    background-color: rgb(216, 216, 216);
    color: rgb(30,30,30);
}

.content:hover{
    text-align: center;
    padding: 30px;
    background-color: rgb(220,220,220);
    color: rgb(30,30,30);
}

.block{
    padding: 20px;
}

.topics{
    background-color: rgb(216, 216, 216);
    color: rgb(30,30,30);
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style-type: none;
    font-size: 17px;
}

.subtopics{
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: none;
    font-size: 17px;
}

.code{
    padding: 25px;
    text-align: left;
    font-size: 15px;
    background-color: rgb(29, 26, 63);
    border: solid;
    border-color: rgb(255, 255, 255);
    color: white;
}