#skills{
	background-color: rgb(10, 10, 10);
}

#contact h1{
	padding-bottom: 0px;
}

#skills .box{
	display: flex;
}

#skills .box .item{
	display: block;
	flex: 1;
	align-content: center;
	font-size: 40px;
	text-align: center;
}

#skills .box .item p{
	text-transform:  none;
	font-size: 15px;
	margin: 5px;
}

#skills .box .item .fa-java{
	position: relative;
	animation-name: java;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes java {
	0%   {right:   0%; top:   0%;}
	16%  {right: 100%; top:   0%;}
	33%  {right: 200%; top:   0%;}
	50%  {right: 200%; top: 100%;}
	66%  {right: 100%; top: 100%;}
	83%  {right:   0%; top: 100%;}
	100% {right:   0%; top:   0%;}
}

#skills .box .item .fa-database{
	position: relative;
	animation-name: database;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes database {
	0%   {right:   0%; top:   0%;}
	16%  {right: -100%; top:   0%;}
	33%  {right: -200%; top:   0%;}
	50%  {right: -200%; top: -100%;}
	66%  {right: -100%; top: -100%;}
	83%  {right:   0%; top: -100%;}
	100% {right:   0%; top:   0%;}
}

#skills .box .item .fa-docker{
	position: relative;
	animation-name: docker;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes docker {
	0%   {right:   0%; top:   0%;}
	16%  {right: -100%; top:   0%;}
	33%  {right: -100%; top:   -100%;}
	50%  {right: 0%; top: -100%;}
	66%  {right: 100%; top: -100%;}
	83%  {right:   100%; top: 0%;}
	100% {right:   0%; top:   0%;}
}

#skills .box .item .fa-node-js{
	position: relative;
	animation-name: node;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes node {
	0%   {right:   0%; top:   0%;}
	16%  {right: 0%; top:   -100%;}
	33%  {right: 100%; top:   -100%;}
	50%  {right: 200%; top: -100%;}
	66%  {right: 200%; top: 0%;}
	83%  {right:   100%; top: 0%;}
	100% {right:   0%; top:   0%;}
}

#skills .box .item .fa-python{
	position: relative;
	animation-name: python;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes python {
	0%   {right:   0%; top:   0%;}
	16%  {right: 100%; top:   0%;}
	33%  {right: 100%; top:   100%;}
	50%  {right: 0%; top: 100%;}
	66%  {right: -100%; top: 100%;}
	83%  {right:   -100%; top: 0%;}
	100% {right:   0%; top:   0%;}
}

#skills .box .item .fa-js{
	position: relative;
	animation-name: js;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes js {
	0%   {right:   0%; top:   0%;}
	16%  {right: 0%; top:   100%;}
	33%  {right: -100%; top:   100%;}
	50%  {right: -200%; top: 100%;}
	66%  {right: -200%; top: 0%;}
	83%  {right:   -100%; top: 0%;}
	100% {right:   0%; top:   0%;}
}